body {
    background-color: lightgrey;
}
body h1 {
  text-align: center;
  font-size: 35px;
}
body h2 {
  text-align: center;
  font-size: 25px;
}
ul li {
  list-style-type: none;
}
nav {
  background-color: lightblue;
}
nav li a {
	background: lightblue;
	border: 1px solid #454545;
	color: black;
	display: block;
	float: left;
	font-size: 120%;
	font-weight: 600;
	padding: 1%;
	text-align: center;
	text-decoration: none;
	width: 16.65%;
	transition: background 0.5s ease;
}
nav li a:hover, nav li.active a {
	background: #DADADA;
	color: #454545;
}
#cvheading {
  position: relative;
  text-align: center;
  width: 80%;
  top: 40px;
  left: 150px;
}
#profilePic {
  position: relative;
  left: 250px;
  height: 300px;
  width: 220px;
  top: 80px;
}
#cinfo {
    background-color: lightblue;
    width: 50%;
    font-size: 15px;
    font-family: verdana;
    text-align: center;
    margin-bottom: 50px;
}
#am {
    width: 45%;
    font-family: verdana;
    text-align: justify;
    float: right;
    position: relative;
    top: -440px;
    right: 30px;
}
#winfo {
    background-color: lightblue;
    width: 50%;
    font-size: 15px;
    font-family: verdana;
    text-align: center;
}
#einfo {
    background-color: lightblue;
    font-size: 15px;
    font-family: verdana;
    text-align: center;
}
