body {
    background-color: lightgrey;
}
body h1 {
  text-align: center;
  font-size: 35px;
}
body h2 {
  text-align: center;
  font-size: 25px;
}
body ul li{
  list-style-type: none;
}
#pinfo {
    background-color: lightblue;
    font-size: 15px;
    font-family: verdana;
    text-align: center;
}
#winfo {
    background-color: lightgreen;
    font-size: 15px;
    font-family: verdana;
    text-align: center;
}
#einfo {
    background-color: beige;
    font-size: 15px;
    font-family: verdana;
    text-align: center;
}
